{
  "development": {
    "username": "nyapalgatkuoth",
    "password": null,
    "database": "upNext",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "test": {
    "username": "nyapalgatkuoth",
    "password": null,
    "database": "upNext",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "nyapalgatkuoth",
    "password": null,
    "database": "upNext",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}