* {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
}

#hero {
    background-attachment: fixed;
    background-image: url(../../images/rectangle_four.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 105%;
    /*height: 500px;*/
    margin: 0px;
    margin: -1%;
    padding: -1%;
    display: flex;
    padding: 30px 10px 50px 20px;
    flex-direction: column;
    align-items: center;
}


/*.secondComp{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
flex-direction: row;

}*/

.thirdComp {
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: center;
}

.fourthComp {
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.thirdShare {
    width: 280px;
    height: 56px;
    font-family: SourceSansPro;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.1px;
    text-align: right;
    color: #404042;
    order: 0;
    flex: 1 0 auto;
    align-self: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-left: 70px;
}

.thirdUp {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin-left: 120px;
}

.projectGrid {
    margin-left: 70px;
    margin-top: 20px;
    float: left;
    background-color: #ffffff;
    padding-top: 2px;
    padding-right: 11px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-radius: 8px;
}

.projectTitle {
    width: 71px;
    height: 6px;
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #404042;
    padding-bottom: 20px;
}

.videoBox {
    height: 200px;
    width: 300px;
}

.gitUsername {
    text-decoration: none;
    color: #027bc3;
    font-weight: bold;
}


/*.rectangle_4 {
    width: 1190px;
    height: 500px;
    background-color: rgba(34, 31, 31, 0.7);
}*/

.banner-wrapper {
    /*margin: 10px;
  padding: 10px;*/
    width: 94%;
    /*background-color: white;*/
    height: 60px;
    border-radius: 5px;
    /*background-color: #ffffff;*/
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.slogan {
    width: 65%;
    background-color: transparent;
    /* margin-left: 21%; */
    text-align: center;
    font-size: 52px;
    margin-top: 8%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}

.slogan p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

p#slogan-1 {
    margin-left: 32%;
}

.slogan-master {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}

#slogan-master-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}

.slogan-2-child-1 p {
    font-size: 50px;
    color: #404042;
}

.slogan-2-child-2 {
  margin-right: 15%;
}

#p-1 {
    margin-left: 30%;
}

.slogan-2-child-2 p {
    color: #313132;
    font-weight: lighter;
}

.slogan-2 {
    background-color: transparent;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4%;
}

.slogan-2-child-1 {
    width: 82%;
}

#slogan-2-child-1 {
    width: 82%;
    color: white;
}
#slogan-2-child-1 p {
    color: #313132;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page_1 {
    object-fit: contain;
    position: absolute;
    margin-top: 7px;
}

.bottom-banner {
    width: 100%;
    height: 600px;
    /*background-color: grey;*/
    background-image: url(../../images/mentor4.png);
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: center center;
    position: relative;
    margin-top: -6%;
}

.mentor-mask {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mentor-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-banner img {
    height: 75%;
    width: 100%;
}

.share {
    top: 300px;
    display: flex;
    padding-right: 5;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 314.5px;
    height: 60px;
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.1px;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
}

.signUp {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

#sign-up-button {
    /* margin-left: 55%; */
    height: 55px;
    /* margin-top: -90px; */
    border: 1px solid #027bc3;
    width: 15%;
    border-radius: 39px;
    /* text-align: center; */
    background-color: #027bc3;
    white-space: nowrap;
    align-items: center;
    display: flex;
    justify-content: center;
}

.allProjects-headline {
    font-family: 'Source Sans Pro', sans-serif;
}
