body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: SourceSansPro;
  background-color: #f0f1f1;
  /*padding-left: 200px;
  padding-right: 200px;*/
}

.master-wrapper {
  /*width: 100%;*/
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}



/*********************************** Nav Bar *******************************************/

nav.topnav {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: transparent;
}

nav.topnav li {
    float: right;
}

nav.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

nav.topnav li a#add-projects {
    margin-top: -5px;
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

li.rectangle-5 {
    border-radius: 29px;
    /*width: 11%;*/
    height: 40px;
    margin-top: 5px;
    background-color: #027bc3;
    text-align: center;
    /*min-width: 136px;*/
    padding: 0 3px;
}

nav.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
    nav.topnav li:not(:first-child) {
        display: none;
    }
    nav.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    nav.topnav.responsive {
        position: relative;
    }
    nav.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.topnav.responsive li {
        float: none;
        display: inline;
    }
    nav.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

/*************************************************************************************/


.rectangle-2 {
    width: 100%;
    height: 10%;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.rectangle-2 nav img {
    height: 100%;
    width: 10%;
    margin-left: 2%;
    margin-top: 11px;
}

nav.topnav {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: transparent;
}

nav.topnav li {
    float: right;
}

nav.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

nav.topnav li a#add-projects {
    margin-top: -5px;
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

li.rectangle-5 {
    border-radius: 29px;
    /*width: 11%;*/
    height: 40px;
    margin-top: 5px;
    background-color: #027bc3;
    text-align: center;
    /*min-width: 136px;*/
    padding: 0 3px;
}

nav.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
    nav.topnav li:not(:first-child) {
        display: none;
    }
    nav.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    nav.topnav.responsive {
        position: relative;
    }
    nav.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.topnav.responsive li {
        float: none;
        display: inline;
    }
    nav.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
/***************** End of Navigation Bar **************/


/***************** Profile info section ***************/

div.profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 100%;
  background-color: transparent;
  margin-top: 15%;
  margin: 10% auto;
  /*padding: 0 0 0 0;*/
}

.name, .location, .position{
  color: #404042;
  text-align: center;
  display: inherit;
}

.oval {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  text-align: center;
}

.oval img {
  width: 100%;
  height: 100%;
}

ul.links {
  list-style-type: none;
  padding: 15px;
}

ul.links li {
  display: inline-block;
  margin: 0 20px;
}


.interact-buttons  {
  /*margin-left: -36px;*/
  text-align: center;
  /*display: inline-block;*/
  list-style-type: none;
  margin: 0 35px;
}


/*.interact {
  border-radius: 29px;

  height: 40px;
  margin-top: 5px;
  background-color: #027bc3;
  text-align: center;

  padding: 0 3px;
}*/


.interact-buttons a#buttons {
  /*list-style-type: none;*/
  /*display: inline-block;*/
  /*margin: 0 35px;*/
  border: 2px solid #027bc3;
  border-radius: 29px;
  /*width: 12%;
  height: 40px;
  margin-top: 5px;*/
  /*background-color: #027bc3;*/
  padding: 0 15px;
}


.button {
  border-radius: 29px;
  /*width: 11%;*/
  height: 40px;
  color: #027bc3;
  text-align: center;
  /*min-width: 136px;*/
  padding: 0 3px;
  border: 2px solid #027bc3;
  padding: 14px 16px;
}


/*#buttons {
  margin-top: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  font-family: SourceSansPro;
}*/


.line {
  width: 100%%;
	height: 0.5px;
	background-color: #e6e7e7;
  margin-top: 4%;
  margin-left: 20px;
  margin-right: 20px;
}


/**************************** project cards *************************/
/*
.project-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 0;
}*/

.projects-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rectangle {
  height: 25vh;
  width: 100%;
  background-color: transparent;
  /*padding: 0;
  margin: 0;*/
  /*text-align: center;*/
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
}


/*.descript {
	width: 71px;
	height: 6px;
	font-family: SourceSansPro;
	font-size: 40px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.0;
	letter-spacing: 0.1px;
	text-align: left;
	color: #404042;
}*/

.image-area {
  display: flex;
  width: 275px;
  height: 200px;
  /*border-radius: 100px;*/
  overflow: hidden;
  text-align: center;
  /*background-color: white;*/
}

.image-area img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.map-wrapper {
  background-color: white;
  padding: 0 10px 10px 10px;
  margin: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
/*
.map-wrapper:first-child {
  margin-left: 0;
}

.map-wrapper:last-child {
  margin-right: 0;
}*/


p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}



/**************************** Upload **********************************/
div.add-project-wrapper {
  display: flex;
  justify-content: center;

}

div.add-project-form {
  margin-top: 10%;
  height: 650px;
  width: 500px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

input, textarea {
  height: 31px;
  width: 100%;
  border: 1px solid #d1d2d4;
  border-radius: 2px;
  /*margin-top: 5%;*/
}

textarea {
height: 200px;
}

form span {
display: block;
margin-top: 3%;
font-family: 'Open Sans', sans-serif;
font-weight: lighter;;
font-style: normal;
font-stretch: normal;
line-height: 1.0;
letter-spacing: 0.1px;
}

button {
    margin-top: 5%;
    float: right;
    width: 25%;
    height: 35px;
    border-radius: 25px;
    border: solid 0.5px #027bc3;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    color: #027bc3;
    min-width: 25%;
}
