* {
	font-family: "Times New Roman";
}

{/* Mentor Page CSS */}

.submitForm {
	padding-right: 150px;
}
.pageTitle {
	text-align: center;
}
.flexContainerMP {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column1 {
	margin: 50 50 50 50;
	width: 350px;
	padding-right: 50px;
}
.column2 {
	margin: 20 20 20 20;
	width: 400px;
}
.formInfo {
	width: 250px;
}
.formMessage {
	width: 250px;
	height: 150px;
}

{/* All Project Page CSS */}

.flexContainerAPP {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

{/*Log In Page CSS*/}

.flexContainerLIP {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.titleLIP {
	order: 1;
}
.formLIP {
	order: 2;
}

{/* Sign Up Page CSS */}

.flexContainerSUP {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 150px 0px 150px 0px;
}

.titleSUP {
	text-align: center;
}

.leftSUP {
	background-color: green;
	text-align: center;
}

.rightSUP {
	background-color: yellow;
}

.SUPbutton {
	align-items: flex-end;
}

{/**/}

{/**/}

{/* Footer Page CSS */}

.flexContainerFooter {
	display: flex;
	align-items: flex-end;
}



/****************************************/

#hero{
  background-image:url(http://cdn.wallpapersafari.com/73/55/cHLiqU.jpg);
  background-size:cover;
  position:relative;
  height:100vh;
  /*background-color: #0f081c;*/
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}

#content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

#content h2{
  margin:0px 0px 30px 0px;
}

#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}


h2 {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
}

span {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
}
