body {
	height: 100%;
}
* {
	font-family: "Times New Roman";
}

{/* All Projects Page */}

.projectsTable {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}
.tableItem {
	padding: 7px 7px 7px 7px;
	height: 125px;
	width: auto;
}

{/* Mentor Page CSS */}

.submitForm {
	padding-right: 150px;
}
.pageTitle {
	text-align: center;
}
.flexContainerMP {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column1 {
	margin: 50 50 50 50;
	width: 350px;
	padding-right: 50px;
}
.column2 {
	margin: 20 20 20 20;
	width: 400px;
}
.formInfo {
	width: 250px;
}
.formMessage {
	width: 250px;
	height: 150px;
}

{/* All Project Page CSS */}

.flexContainerAPP {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

{/*Log In Page CSS*/}

.flexContainerLIP {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.titleLIP {
	order: 1;
}
.formLIP {
	order: 2;
}

{/* Sign Up Page CSS */}

.flexContainerSUP {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 45px 0px 10px 0px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.titleSUP {
	text-align: center;
}

.leftSUP {
	text-align: center;
	padding-top: 50px; 
	margin-right: -225px;
}

.rightSUP {
	text-align: center;
	border-radius: 5px;
}

.SUPbutton {
	border-radius: 5px;
}

{/**/}

{/**/}

{/* Footer Page CSS */}

.flexContainerFooter {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: green;

}
